.app-background{
    background: url('https://studio-mcgee.com/app/uploads/2022/03/studiomcgee_HomeOnTheBay_WEB_090-scaled.jpeg') rgba(0, 0, 0, 0.6);
    background-position: center;
    background-size: cover;
    background-blend-mode: multiply;
}

.app-form-style{
    padding-top: 2px;
    margin-left: 15px;
    margin-right: 15px;
}

.additional-comments-margin{
    margin-left: 10px;
    padding-top: 5px;
}

.form-title{
    text-align: left;
    padding-left: 18px;
    font-weight: bold;
}

.form-input-style{
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    border-radius: 5px;
    border: none;
    padding-left: 10px;
    padding-right: 30px;
    padding-top: 5px;
    padding-bottom: 5px; 
    width: 300px;
}

.save-btn-style{
    border: none; 
    width: 125px;
    height: 50px;
    margin-top: 15px;
    background-color: #ffffff;
    text-align: center; 
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
   
}