.notes-title {
    padding-top: 10px;
    padding-bottom: 5px;
    font-size: large;
}

.notepad {
    background-color: #f6f0e8;
    border: none;
    width: 300px;
    height: 250px;
    border-radius: 10px;
}


.image-overview {
    width: 300px;
    height: 350px;
    position: relative;
    border-radius: 10px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.accordion-color{
background-color: #b5b0a0 !important;;
}

.right-align-btn{
    text-align: right;
}

.accordion-item{
    padding-top: 3px;
}

.accordion-item-padding{
    padding-top: 4px;
}

.accordion-item:focus{
    box-shadow: none;
    color: black !important;
}

.room-overview-container{
    padding-top: 20px;
}

.drop-down-btn{
    background-color: #b5b0a0 !important;
    font-weight: bold !important;
}

.accordion-button:focus {
    box-shadow: none !important;
    border-color: rgba(0,0,0,.125) !important;
}

.accordion-button:not(.collapsed){
    color: black !important;
}